logs/
npm-debug.log
yarn-error.log
node_modules/
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
deploy.sh
run.sh

config/config.dev.js
config/config.local.js
config/config.prod.js