# Ignore artifacts:
build
coverage
logs
test
.sequelizerc
.eslintignore
.prettierignore
.eslintrc
appveyor.yml
migrations
typings
.git
.travis.yml
node_modules
.vscode
database
run
.husky
.github
*.json
*.html
*.md